.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
  margin: 5px;
  padding: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lhs_filters {
  margin-left: 15px;
  width: 450px;
}

.splitter {
  flex-direction: column;
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child-left {
  width: 40%;
  float: left;
  padding: 20px;
  margin-top: 30px;
  /* border: 2px solid red; */
}  


.float-child {
  width: 60%;
  float: left;
  padding: 20px;
  /* border: 2px solid red; */
}  

.map-container {
  width: 800px !important;
  height: 600px !important;
  /* float; */
}
.wrapper {
  /* width: fit-content; */
  width: 800;
  height: fit-content;
  border: 1px solid rgb(225, 224, 224);
  margin-top: 10px;
  background: white;
  text-align: left;
  margin-top: 10;
  padding: 1%;
  /* max-height: 100px; */
}